extends /base.pug
block vars
  - navbar.nobrand = true
  - navbar.nohome = true
  - navbar.className = "invert"
block head
block body
  #landing
    include /navbar.pug
    .inner
      br
      h1 Datavis.tips
      p Quick Reference of Data Visualization Methodology
  #root(style="margin:0;")
    .headline.menu
      .inner
        .row.text-center
          .col-sm-offset-1.col-sm-2
            h4: a(href="#method",data-scroll) Chart
          .col-sm-2
            h4: a(href="#category",data-scroll) Concept
          .col-sm-2
            h4: a(href="#encoding",data-scroll) Encoding
          .col-sm-2
            h4.disabled: a(href="#taxonomy",data-scroll) Taxonomy
          .col-sm-2
            h4.disabled: a(href="#storytelling",data-scroll) Storytelling

    br
    #method.anchor
    .headline
      .media
        .media-left
          a: .chartico.md.bar-chart.fff
        .media-body.text-left
          h3 Visualization Method
          span Known composition of visual encodings that works - Visualizations and how they should be used.
    .section
      .iconlist
        each item in site.charts
          if exists(item)
            a.icon(href="/en/v/" + item)
              .chartico.text.xs.raw.no-border.en(
              data-toggle="tooltip",data-placement="top",title=toName(item,"en"),
              class=[item.toLowerCase().replace(/ /g,"-"),lang].join(" "))
        each item in site.charts
          if !exists(item)
            a.icon
              .chartico.xs.raw.no-border.en(
              data-toggle="tooltip",data-placement="top",title="coming soon"
              class=[item.toLowerCase().replace(/ /g,"-"),lang,"disabled"].join(" "))
      .sep.gap.lg
    #category.anchor
    .headline
      .media
        .media-left: a: .catico.md.comparison.fff
        .media-body.text-left
          h3 Concept and Functionality
          span What do you want to tell? Think about visualization by functionality and concept.
    .section
      .iconlist
        each item in site.categories
          a.icon
            .catico.text.xs.raw.no-border.en(
            data-toggle="tooltip",data-placement="top",title="coming soon",
            class=[item.toLowerCase().replace(/ /g,"-"),lang,"disabled"].join(" "))
        a.icon: .catico.raw.xs.no-border.en
      .sep.gap.lg
    #encoding.anchor
    .headline
      .media
        .media-left
          a: .encico.md.area.fff
        .media-body.text-left
          h3 Visual Encoding
          span Elements of visualization with different effects to the perception of your reader. Choose an approach by first deciding which element to use.
    .section
      .iconlist
        each item in site.encodings
          a.icon
            .encico.text.xs.raw.no-border.en(
            data-toggle="tooltip",data-placement="top",title="coming soon",
            class=[item.toLowerCase().replace(/ /g,"-"),lang,"disabled"].join(" "))
  br
  br
  br

  .sep.gap
  include /footer.pug
  script(type="text/javascript")= "var chartid=" + plotdb + ";"
  script(type="text/javascript").
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
      smoothScroll.init();
    });

