doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false }
- var assets = "/assets"
- var favicon = "/thumbnail.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="/lib/plotdb.css")
    link(rel="stylesheet",type="text/css",href="/static/css/dev.css")
    link(rel="stylesheet",type="text/css",href="/static/css/index.css")
    script(type="text/javascript",src="/lib/plotdb.js")
    script(type="text/javascript",src="/lib/plotd3.js")
  body
    #root
      .panel.panel-default(style="width:800px;margin:auto")
        .preview(style="position:relative;z-index:1")
          #blah
          #choices.choices(style="position:absolute;")
            .choice.active(data-idx="1")
            .choice(data-idx="2")
            .choice(data-idx="3")
        div(style="position:relative;z-index:2")
          .avatar(style="background:url(/icon/" + id + ".svg) #fff")
          .btn.btn-success(style="position:absolute;margin:-54px 0 0 156px") online editor
          .similar.text-right
            label similar charts
            br
            .chartico.connected-scatter-plot.sm
            .chartico.paired-scatter-plot.sm
            .chartico.animated-scatter-plot.sm
            .chartico.ternary-plot.sm

        .panel-body.content
          .title
            span= name
            small  / #[span= alias]

          p= description
          br

          .row
            .col-sm-6
              label Pros
              p= pros
            .col-sm-6
              label Cons
              p= cons
          br

          .row
            .col-sm-6
              label
                span Dimensions
                small / 
                if dimension.filter(function(it){return it[1]=='required'}).length == dimension.length
                  small= dimension.length
                else
                  small= dimension.filter(function(it){return it[1]=='required'}).length
                  small  ~ 
                  small= dimension.length
                small  dimensions
              .labels
                each item in dimension
                  if item[1] == "required"
                    .label.label-primary
                      span= item[0]
                      span  / 
                      span= item[2]
                  else
                    .label.label-default
                      span= item[0]
                      span  / 
                      span= item[2]
              br
            .col-sm-6
              label Visual Encodings
              .labels
                each item in visualEncoding
                  .label.label-primary= item
              br

          label Common Practice
          ul
            each item in commonPractice
              li= item
          br

          label Classic Example
          ul 
            each item in classicExample
              li= item
          br

          label Media Usage
          ul
            each item in mediaUsage
              li #[span= item.author], "#[a(href=item.link,target="_blank")= item.title]", #[span= item.media], #[span= item.year].
                
          br

          label Variants
          p
            each item in variant
              .chartico.text.sm(class=item.toLowerCase().replace(/ /g,"-"))

    script(type="text/javascript",src="/index.js")
