doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false }
- var assets = "/assets"
- var favicon = "/img/favicon.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include /library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="/lib/plotdb.css")
    link(rel="stylesheet",type="text/css",href="/static/css/dev.css")
    link(rel="stylesheet",type="text/css",href="/static/css/index.css")
    link(href="https://fonts.googleapis.com/earlyaccess/notosanstc.css",rel="stylesheet")
    script(type="text/javascript",src="/lib/plotdb.js")
    script(type="text/javascript",src="/lib/plotd3.js")
  body
    #root
      .text-center: img(src="/img/logo-text-zh.png")
      .text-center(style="width: 400px;margin:auto")
        .input-group
          input.form-control(placeholder="例如：圓餅、面積、或人口")
          .input-group-btn
            .btn.btn-default #[i.fa.fa-search] 用找的

      br
      br

      .text-center(style="max-width:1024px;margin:auto")
        .chartico.lg.bar-chart
        h3 視覺化方式
        span 視覺元素的組成與編排，前人智慧的結晶 - 視覺呈現手法與他們的使用方式
        br
        br
        div(style="padding:20px;")
          each item in site.charts
            if exists(item)
              a(href="/v/" + item +"/zh/")
                .chartico.xs.raw.no-border.zh(data-toggle="tooltip",data-placement="top",title=toName(item,"zh"),
                style="margin:20px",class=[
                item.toLowerCase().replace(/ /g,"-"),lang,(exists(item) ? "" : "disabled")].join(" "))
          each item in site.charts
            if !exists(item)
              a(href="/v/" + item +"/zh/")
                .chartico.xs.raw.no-border.zh(
                data-toggle="tooltip",data-placement="top",title="coming soon"
                style="margin:20px",class=[
                item.toLowerCase().replace(/ /g,"-"),lang,(exists(item) ? "" : "disabled")].join(" "))
      br
      br
      br
      br
      br
      .text-center
        .catico.lg.comparison
        h3 敘事方向
        span 從功能面來思考，想要表現的概念、想要呈現的資料是什麼？就用敘事方向來挑選吧。
        br
        br
        br
        each item in site.categories
          .catico.text.xs.raw.no-border.zh(class=[item.toLowerCase().replace(/ /g,"-"),lang].join(" "))
      br
      br
      br
      br
      br
      .text-center
        .encico.lg.area
        h3 視覺元素
        span 不同元素也有不同的效果，而不同的效果影響了視覺化手法的效果。從元素下手，一開始就確認有我們要的效果！
        br
        br
        br
        each item in site.encodings
          .encico.text.xs.raw.no-border.zh(class=[item.toLowerCase().replace(/ /g,"-"),lang].join(" "))
  br
  .sep.gap
  br
  .footer
    a(href="http://plotdb.com",target="_blank")
      span POWERED BY PLOTDB
      img(src="/img/plotdb-mini-alt.png")
    .pull-left
      for lang in site.langs
        a.label.label-default(href=["/v", key, lang].join("/"))= lang.toUpperCase()
        span &nbsp;

  script(type="text/javascript")= "var chartid=" + plotdb + ";"

  script(type="text/javascript").
    $(document).ready(function() { $('[data-toggle="tooltip"]').tooltip(); });
